.App {
    text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  /* background-color: rgb(245, 241, 229); */
  width: 100%;
  z-index: -1;
  margin-bottom: -150px;
  /* mask-image: linear-gradient(to bottom,rgb(246, 243, 235),
  rgb(249, 234, 196)); */
  text-align: center;
}
 
.para{
    color: black;
}
.card {
  /* font-size: 30px;*/ 
  margin-top: 20px;  
  border-radius: 10px;
  text-align: center;
  
}
.part{
  background-color: rgb(183, 183, 248);
  margin-top: 20px;
}
.part h4{
  color: rgb(56, 56, 249);
}
.middle{
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  width: 100%;
}
.footer{ 
  display: flex;
  position:sticky;
  justify-content: space-between;
  color: gainsboro;
  background-color: rgb(6, 103, 177);
  margin-top: 25px;
}
.about{
  margin-top: 80px; 
  width: 100%;
}
.about h2{
  color: rgb(56, 56, 249);
}
.about p {
  font-weight: 100;
  color: rgb(109, 107, 107);
}
.review{
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
}
.review h5{
  color: rgb(65, 64, 64);
}
.review p{
    font-weight: 100;
    font-size: 12px;
    color: rgb(109, 107, 107);
}
.contact{
  margin-top: 80px; 
  width: 100%;
}
.exper{
  background-color: rgb(183, 183, 248);
  margin-top: 40px;
}
.student{
  display: flex;
  align-items: flex-end; 
}
.exper h5{
  color: rgb(56, 56, 249);
}
 
 
 
   